#stills {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

#stills-list {
  padding: 2rem 0;
  column-count: 1;
  column-gap: 20px;
}

#stills-list img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
}

@media (width > 960px) {
  #stills-list {
    column-count: 3;
  }
}
