#motion {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

#motion-list {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video object {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (width > 960px) {
  #motion-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
